body {
    
    background: hsla(333, 100%, 53%, 1);

background: linear-gradient(180deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);

background: -moz-linear-gradient(180deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);

background: -webkit-linear-gradient(180deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0F7B", endColorstr="#F89B29", GradientType=1 );
    text-align: center;
}
h6 {
    font-size: 2rem;
    font-family: 'Rubik Moonrocks', cursive;
}
h1,h4 {
    font-family: 'Rubik Moonrocks', cursive;
}
.container {
    
    margin: 0 auto;
    width: 50%;
   display: flex;
    border-radius: 1rem;
    
    
}
ul {
    text-align: left;
    list-style-type: circle;
}
li, .weightPlace {
    font-size: 1.25rem;
    font-family: 'Sarpanch', sans-serif;
}
.abilities, .pokeType, .weight {
    font-size: 1.7rem;
    text-decoration: underline;
    font-family: 'Sarpanch', sans-serif;
    margin: 0 auto;
}
#pokeImage {
    width: 50%;
    margin-top: 3em;
    position:relative;
    top: 33%;
    
}
.pokePic {
    width: 50%;
}
.pokeDex {
    display: block;
    width: 50%;
    margin: 0 auto;
    position: absolute;

}
.statBox {
    position: relative;
    width: 25%;
    top: 100px;
    right: 0;
}
